body{
    background-color: dodgerblue;
}


header{
    text-align: center;
    color: aliceblue;
    font: normal 25pt arial;
    
}

section{
    text-align: center;
    font: normal 15pt arial;
    background-color: aliceblue;
    border-radius: 25pt;
    width: 500px;
    margin: auto;
    padding: 50px;
    box-shadow: 9px 5px;
}


footer{
    text-align: center;
    color: aliceblue;
    font: normal 10pt arial;
    font-style: italic;
}

img#foto{
    border-radius: 50px;
    width: 100pt;
}